#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    vertical-align: middle;
}

.mat-toolbar {
    color: "primary";
    background-color: #49515C;
    height: 50px !important;
    min-height: 50px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}